/* .anime {
    display: inline-block;
    flex-wrap: wrap;
} 
*/

body{
    background-image: url(wallpaper.jpg);
    background-size:cover;   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#animeContainer {
    display: flex;
    -ms-flex-align: center;
    margin-left:0.3vw;
    margin-top:3vh;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%
}

.anime:hover{
    cursor:pointer;
    filter: brightness(75%);
    transition: linear;
    transition-duration: 200ms;
}

.anime{
    display:flex;
    flex-direction: column;
    border: ridge rgb(177, 0, 0) 3mm;
    border-radius: 65px;
    align-items: center;
    gap:10px;
    width:270px;
    background-color: rgba(177, 0, 0, 0.452);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    overflow:hidden;
    margin-top:10px;
}

.anime img{
    width:270px;
    height:400px;
    object-fit:cover;
    border-radius: 50px;
    
}

.input{
    width:30vw;
    margin-left:10px;
    height:30px;
    margin-top:10px;
    outline:none;
    border-radius:300px;
    border-bottom: ridge rgb(177, 0, 0) 5px;
    border-left: ridge rgb(177, 0, 0) 2px;
    border-right: ridge rgba(0, 0, 0, 0.338) 2px;
    border-top: ridge rgba(0, 0, 0, 0.338) 2px;
    background-color:rgb(227, 227, 227);
    padding-left: 10px;
    padding-right:10px;
    font-weight: bold;
    color:rgb(177, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.input:hover{
    transition:linear 200ms;
    background-color: rgba(182, 182, 182, 0.799);
}

.input2{
    width:auto;
    margin-left:10px;
    height:30px;
    margin-top:10px;
    outline:none;
    border-radius:300px;
    border-bottom: ridge rgb(177, 0, 0) 5px;
    border-left: ridge rgb(177, 0, 0) 2px;
    border-right: ridge rgba(0, 0, 0, 0.338) 2px;
    border-top: ridge rgba(0, 0, 0, 0.338) 2px;
    background-color:rgb(227, 227, 227);
    padding-left: 10px;
    padding-right:10px;
    font-weight: bold;
    color:rgb(177, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.input2:hover{
    transition:linear 200ms;
    cursor:pointer;
    background-color: rgba(182, 182, 182, 0.799);
}

    